Repository One-Language/One, pull requests merged in 2021-06, with the labels that each got.

#85 Update README.md
  README.md
Labels: Documentation

#86 Update README.md
  README.md
Labels: Documentation

#87 Update README.md
  README.md
Labels: Documentation

#88 Update README.md
  README.md
Labels: Documentation

#89 Update README.md
  README.md
Labels: Documentation

#90 Update README.md
  README.md
Labels: Documentation

#91 Update dependabot.yml
  .github/dependabot.yml
Labels: Documentation, github

#92 Update .gitignore
  .gitignore
Labels: Good First Issue

#93 Update CONTRIBUTORS.md
  CONTRIBUTORS.md
Labels: Documentation

#94 Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Labels: Documentation

#95 Update grammar.BNF
  grammar.BNF
Labels: Documentation

#96 Update README.md
  README.md
Labels: Documentation

#97 Update README.md
  README.md
Labels: Documentation

#98 Clean up the Mission
  MISSION_STATEMENT.md
Labels: Documentation

#99 Update MISSION_STATEMENT.md
  MISSION_STATEMENT.md
Labels: Documentation

#100 Update README.md
  README.md
Labels: Documentation

#104 Fix grammar
  input.one
  src/parser.c
Labels: Documentation, src

#105 `lexer.test.c` Initial test
  CMakeLists.txt
  unit-tests/ast.test.c
  unit-tests/lexer.test.c
  unit-tests/parser.test.c
  unit-tests/unity/unity.c
  unit-tests/unity/unity.h
  unit-tests/unity/unity_internals.h
Labels: Tests

#112 Update README.md
  README.md
Labels: Bug

#118 Update README.md
  README.md
Labels: Documentation

#121 update my name
  CONTRIBUTORS.md
Labels: Documentation

#120 Add prettier with pre-commit format JS
  .pre-commit-config.yaml
  tmp/js/src/generator/commands/expression.js
  tmp/js/src/generator/commands/for.js
  tmp/js/src/generator/commands/function.js
  tmp/js/src/generator/commands/if.js
  tmp/js/src/generator/commands/print.js
  tmp/js/src/generator/commands/variable-define.js
  tmp/js/src/generator/commands/while.js
  tmp/js/src/generator/statement.js
  tmp/js/src/generator/statements.js
  tmp/js/src/generator/temp.js
  tmp/js/src/generator/vm.js
Labels: Enhancement

#123 Use .prettierignore to control format
  .pre-commit-config.yaml
  .prettierignore
  CONTRIBUTING.md
  MISSION_STATEMENT.md
  README.md
Labels: Enhancement

#129 Lint C file
  src/tree.c
Labels: Code style, src

#130 add turkish readme page
  README_TR.md
Labels: Documentation, Low Priority

#134 added a link to README page for TR translation
  README.md
Labels: Documentation, Low Priority

#137 Add README link to README_TR
  README_TR.md
Labels: Documentation, Low Priority

#135 Add prettier config
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  .prettierrc
  README.md
  README_TR.md
  docs/index.html
  tmp/js/src/cli/commands/run.js
  tmp/js/src/cli/commands/version.js
  tmp/js/src/cli/index.js
  tmp/js/src/cli/io/file.js
  tmp/js/src/cli/io/index.js
  tmp/js/src/generator/commands/for.js
  tmp/js/src/generator/commands/function.js
  tmp/js/src/generator/commands/if.js
  tmp/js/src/generator/commands/print.js
  tmp/js/src/generator/commands/variable-define.js
  tmp/js/src/generator/commands/while.js
  tmp/js/src/generator/index.js
  tmp/js/src/generator/statement.js
  tmp/js/src/generator/statements.js
  tmp/js/src/generator/temp.js
  tmp/js/src/generator/vm.js
  tmp/js/src/one.js
  tmp/js/src/scanner/grammar.js
  tmp/js/src/scanner/parser.js
Labels: Code style, docs, github, tmp

#142 Add README_AR.md
  README_AR.md
Labels: Documentation

#138 Update temp.js
  tmp/js/src/generator/temp.js
Labels: Code style, tmp

#151 Add Spanish README
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  README_ES.md
Labels: Documentation, github

#159 alpha order readme links
  README.md
  README_AR.md
  README_ES.md
  README_TR.md
Labels: Documentation

#162 Fix "Getting Started" Header Styling and Add Missing ES Translation
  README.md
  README_AR.md
  README_ES.md
  README_TR.md
Labels: Documentation

#160 ignore arabic md file from spell checker
  .github/workflows/lint.yml
  .pre-commit-config.yaml
Labels: Good First Issue, github

#161 arabic readme page rtl fix
  README_AR.md
Labels: Bug

#164 Fix format
  tmp/c-new/docs/index.html
Labels: Code style, tmp

#176 Remove all contributors from non-English README
  README_AR.md
  README_ES.md
  README_FA.md
  README_TR.md
  src/generator.c
Labels: Bug, Code style, Documentation, src

#177 Fix code blocks in the Arabic README
  README_AR.md
Labels: Documentation

#178 Standardize the READMEs HTML
  README.md
  README_AR.md
  README_ES.md
  README_FA.md
  README_TR.md
Labels: Documentation

#179 Fix Farsi README
  README_FA.md
Labels: Documentation

#181 Finished README_FA.md
  README_FA.md
Labels: Documentation

#183 Linked FA.md file to all of the other README files
  README.md
  README_AR.md
  README_ES.md
  README_FA.md
  README_TR.md
Labels: Documentation

#167 C güncelle
  .mergify.yml
  docker-compose.yml
Labels: Enhancement
