Repository One-Language/One, pull requests merged in 2021-07, with the labels that each got.

#184 Fix Spanish README
  README.md
  README_AR.md
  README_ES.md
  README_FA.md
  README_TR.md
  test/test.h
Labels: Code style

#185 Fix order of language links in README
  README.md
  README_AR.md
  README_ES.md
  README_FA.md
  README_TR.md
Labels: Documentation

#186 Fix style of C comments
  tmp/c-new/unit-tests/lexer.test.c
Labels: Code style, tmp

#188 Add Umut as CODEOWNER for Markdown
  CODEOWNERS
Labels: Enhancement

#189 Clean up grammar in the English README
  README.md
Labels: Documentation

#190 Update the Contributing guide
  .pre-commit-config.yaml
  CONTRIBUTING.md
Labels: Documentation

#187 Update input.one
  input.one
Labels: Code style

#191 Update pre-commit and add two more hooks
  .pre-commit-config.yaml
Labels: Tests

#202 Adding dockerfile and docker-composer
  .pre-commit-config.yaml
  Dockerfile
  docker-compose.yml
  install_llvm.sh
Labels: src

#205 Update dockerfile and delete install_llvm.sh file
  Dockerfile
  install_llvm.sh
  src/parser/build.sh
Labels: src

#207 Adding Github workflow to deploy docker image to docker hub
  .github/workflows/docker-image.yml
  docker-compose.yml
Labels: Code style, Enhancement, High Priority, github
