Repository One-Language/One, pull requests merged in 2021-08, with the labels that each got.

#217 Update Dockerfile Contributing.md and CMakeLists.txt files
  .github/workflows/docker-image.yml
  CMakeLists.txt
  CONTRIBUTING.md
  Dockerfile
Labels: github

#228 Update lint.yml
  .github/workflows/lint.yml
Labels: github, Code style

#230 Lint Markdown
  .github/linters/.markdown-lint.yml
Labels: Code style

#231 Update lint.yml
  .github/workflows/lint.yml
Labels: github, Code style

#233 pre-commit autoupdate
  .pre-commit-config.yaml
Labels: Good First Issue

#234 Correct pre-commit checks order
  .pre-commit-config.yaml
Labels: Tests

#235 Add license button
  README.md
Labels: Documentation

#236 Add facebook button to the readme
  README.md
Labels: Documentation

#237 Add instagram badge to the readme
  README.md
Labels: Documentation

#241 Continue the work by PR method
  tmp/c-new/unit-tests/unity/unity.h
  tmp/c-new/unit-tests/unity/unity_internals.h
  tmp/c-new2/parser.c
  tmp/c-old/src/buffer/sds.c
  tmp/c-old/src/buffer/testhelp.h
  tmp/c/src/sds.c
  tmp/c/src/token.c
Labels: tmp

#242 pre-commit autoupdate
  .pre-commit-config.yaml
Labels: dependencies

#247 Alterations to lexer
  src/builtins/error.c
  src/builtins/error.h
  src/lexer/build.sh
  src/lexer/lexer.h
  src/lexer/main.c
  src/lexer/tokenizer/tokenizer.c
  src/lexer/tokenizer/tokenizer.h
  src/parser/lexer/build.sh
  src/parser/lexer/lexer.c
  src/parser/lexer/lexer.exe
  src/parser/lexer/lexer.h
  src/parser/lexer/main.c
  src/parser/lexer/test.sh
  src/parser/lexer/token.c
  src/parser/lexer/token.h
  src/parser/parser.h
Labels: src
