Repository One-Language/One, pull requests merged in 2021-05, with the labels that each got.

#21 Add the GitHub Super Linter
  .github/linters/.markdown-lint.yml
  .github/linters/.yaml-lint.yml
  .github/workflow/lint.yml
  .github/workflow/linter.yml
  .gitignore
  .pre-commit-config.yaml
  CODEOWNERS
  CONTRIBUTING.md
  CONTRIBUTORS.md
  README.md
  input.one
  src/lexer.c
  src/lexer.h
  src/one.c
  src/one.h
  src/parser.c
  src/parser.h
  src/scanner.c
  src/scanner.h
  src/token.c
  src/token.h
  super-linter.report/.keep
  tests/34-architecture.et
  tests/activity_error.etl
  tests/activity_index.etl
  tests/activity_login.etl
  tmp/c/Makefile
  tmp/c/src/lexer/source.c
  tmp/c/src/lexer/token.c
  tmp/c/src/lexer/tokens.h
  tmp/c/src/one.h
  tmp/js/input.ast
  tmp/js/src/scanner/one.grammar
Labels: Enhancement

#25 Create FUNDING.yml
  .github/FUNDING.yml
Labels: Enhancement

#23 Add pre-commit to GitHub Actions
  .github/workflow/lint.yml
  .github/workflow/linter.yml
Labels: Enhancement

#33 Fix workflows folder name
  .github/workflows/lint.yml
  .github/workflows/linter.yml
Labels: Bug

#49 Add dependabot, codeql and codespell
  .github/dependabot.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/lint.yml
  .github/workflows/super-linter.yml
  .pre-commit-config.yaml
  MISSION_STATEMENT.md
  README.md
  codespell.txt
  grammar.BNF
  input.one
  src/arg.c
  src/array.c
  src/array.h
  src/compile.c
  tmp/c-old/src/buffer/sds.c
  tmp/c/src/sds.c
Labels: Documentation, Enhancement

#58 Add EditorConfig
  .editorconfig
Labels: Enhancement

#59 Update CODEOWNERS
  CODEOWNERS
Labels: Good First Issue

#60 Clang Format
  src/arg.c
  src/arg.h
  src/array.c
  src/array.h
  src/compile.c
  src/compile.h
  src/error.c
  src/error.h
  src/one.c
  tmp/c-old/src/buffer/sds.c
  tmp/c-old/src/buffer/sds.h
  tmp/c-old/src/buffer/testhelp.h
  tmp/c-old/src/io.c
  tmp/c-old/src/io.h
  tmp/c-old/src/lexer/lexer.c
  tmp/c-old/src/lexer/lexer.h
  tmp/c-old/src/lexer/source.c
  tmp/c-old/src/lexer/source.h
  tmp/c-old/src/lexer/token.c
  tmp/c-old/src/lexer/token.h
  tmp/c-old/src/one.c
  tmp/c-old/src/one.h
  tmp/c/src/arg.c
  tmp/c/src/arg.h
  tmp/c/src/lexer.c
  tmp/c/src/lexer.h
  tmp/c/src/one.c
  tmp/c/src/one.h
  tmp/c/src/parser.c
  tmp/c/src/parser.h
  tmp/c/src/scanner.c
  tmp/c/src/scanner.h
  tmp/c/src/sds.c
  tmp/c/src/sds.h
  tmp/c/src/token.c
  tmp/c/src/token.h
  tmp/c/src/vec.c
  tmp/c/src/vec.h
  tmp/js/input.c
Labels: Enhancement

#62 Add Clang Format to pre-commit
  .github/ISSUE_TEMPLATE/custom.md
  .github/workflows/super-linter.yml
  .gitignore
  .pre-commit-config.yaml
  src/arg.c
  src/arg.h
  src/array.c
  src/array.h
  src/compile.c
  src/error.c
  src/error.h
  src/file.c
  src/file.h
  src/lexer.c
  src/one.c
  src/token.c
  tmp/c-old/src/buffer/sds.c
  tmp/c-old/src/buffer/sds.h
  tmp/c-old/src/buffer/testhelp.h
  tmp/c-old/src/io.c
  tmp/c-old/src/lexer/lexer.c
  tmp/c-old/src/lexer/source.c
  tmp/c-old/src/lexer/source.h
  tmp/c-old/src/lexer/token.c
  tmp/c-old/src/lexer/token.h
  tmp/c-old/src/one.c
  tmp/c-old/src/one.h
  tmp/c/src/arg.c
  tmp/c/src/arg.h
  tmp/c/src/lexer.c
  tmp/c/src/lexer.h
  tmp/c/src/one.c
  tmp/c/src/parser.c
  tmp/c/src/sds.c
  tmp/c/src/sds.h
  tmp/c/src/token.c
  tmp/c/src/token.h
  tmp/c/src/vec.c
  tmp/c/src/vec.h
  tmp/js/input.c
Labels: Enhancement

#63 Add the pull request labeler
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: Enhancement

#64 Remove tabs
  .pre-commit-config.yaml
  docs/index.html
  src/arg.c
  tests/1-hello-world.et
  tests/16-operator-test.et
  tests/17-operator-test.et
  tests/18-operator-test.et
  tests/2-main-return.et
  tests/21-loop-for.et
  tests/22-loop-repeat.et
  tests/23-loop-while.et
  tests/24-if-else.et
  tests/25-if-else-odd-even.et
  tests/26-loop-count-number.et
  tests/27-if-which-largest.et
  tests/28-if-else-which-largest.et
  tests/29-sort-bubble.et
  tests/3-function-define.et
  tests/30-sort-shell.et
  tests/31-sort-char.et
  tests/32-web-architecture.et
  tests/33-web-cgi.et
  tests/34-architecture.et
  tests/4-print.et
  tests/48-hello.et
  tests/50-hello.et
  tests/51-hello.et
  tests/52-hello.et
  tests/55-variable-define.et
  tests/56-function-call-return.et
  tests/57-function-call-return.et
  tests/58-function-call-print.et
  tests/59-function-define-call-print.et
  tests/60-function-define-with-type.et
  tests/61-get-input-value.et
  tests/62-get-input-value.et
  tests/63-array-string.et
  tests/64-array-char.et
  tests/65-array-char.et
  tests/66-array-char.et
  tests/67-operator.et
  tmp/c-old/src/one.c
  tmp/c/input.one
  tmp/c/src/one.h
  tmp/js/src/generator/commands/expression.js
  tmp/js/src/generator/commands/for.js
  tmp/js/src/generator/commands/function.js
  tmp/js/src/generator/commands/if.js
  tmp/js/src/generator/commands/print.js
  tmp/js/src/generator/commands/variable-define.js
  tmp/js/src/generator/commands/while.js
  tmp/js/src/generator/index.js
  tmp/js/src/generator/statement.js
  tmp/js/src/generator/statements.js
  tmp/js/src/generator/temp.js
  tmp/js/src/scanner/one.grammar
Labels: Tests, docs, src, tmp

#65 Fix README and Clang Format
  README.md
  src/error.c
Labels: src

#67 Updated issue templates
  .github/ISSUE_TEMPLATE/join_core_team.md
  .github/ISSUE_TEMPLATE/join_doc_team.md
  .github/ISSUE_TEMPLATE/join_web_team.md
Labels: github

#69 spell fixes for some files
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/join_core_team.md
  .github/ISSUE_TEMPLATE/join_doc_team.md
  .github/ISSUE_TEMPLATE/join_web_team.md
  src/token.c
Labels: github, src
