Repository One-Language/One, pull requests merged in 2022-11, with the labels that each got.

#419 pre-commit autoupdate
  .pre-commit-config.yaml
Labels: dependencies, Tests

#420 pre-commit(hadolint): add failure-threshold: "error"
  .github/linters/.hadolint.yaml
  .pre-commit-config.yaml
Labels: Tests

#422 Update README_AR.md
  docs/README_AR.md
Labels: Documentation

#423 gha(linkchecker): mark status 429 as alive
  docs/README_AR.md
  mlc_config.json
Labels: Documentation, Tests

#424 gha(labeler): update labels
  .github/labeler.yml
Labels: github
