Repository One-Language/One, pull requests merged in 2022-09, with the labels that each got.

#365 Remove all contributors button and run pre-commit
  README_IT.md
  README_JA.md
Labels: Documentation

#368 Run pre-commit without --all-files option
  .github/workflows/lint.yml
Labels: Tests, github

#369 Add Markdown link check config
  mlc_config.json
Labels: Tests

#370 Revert "Run pre-commit without --all-files option (#368)"
  .github/workflows/lint.yml
Labels: github

#372 Moved other README files except the main one into a separate director…
  README.md
  langs/README_AR.md
  langs/README_ES.md
  langs/README_FA.md
  langs/README_FIL.md
  langs/README_FR.md
  langs/README_IT.md
  langs/README_JA.md
  langs/README_RU.md
  langs/README_TR.md
  langs/README_UK.md
Labels: Documentation

#376 Exclude `langs` folder from spell checking
  .github/workflows/lint.yml
  .pre-commit-config.yaml
Labels: Bug, github

#377 Order language links in READMEs
  README.md
  langs/README_AR.md
  langs/README_ES.md
  langs/README_FA.md
  langs/README_FIL.md
  langs/README_FR.md
  langs/README_IT.md
  langs/README_JA.md
  langs/README_RU.md
  langs/README_TR.md
  langs/README_UK.md
Labels: Documentation

#384 Update README_FR.md remove all contributors section
  langs/README_FR.md
Labels: Documentation

#386 Remove unused Markdown
  .github/linters/.markdown-lint.yml
  README.md
  README_DOCKER.md
  langs/README_AR.md
  langs/README_ES.md
  langs/README_FA.md
  langs/README_FIL.md
  langs/README_FR.md
  langs/README_IT.md
  langs/README_JA.md
  langs/README_RU.md
  langs/README_TR.md
  langs/README_UK.md
Labels: Documentation

#388 Add Makefile to run pre-commit
  Makefile
Labels: Enhancement

#389 Use relative links
  langs/README_AR.md
  langs/README_ES.md
  langs/README_FA.md
  langs/README_FIL.md
  langs/README_FR.md
  langs/README_IT.md
  langs/README_JA.md
  langs/README_RU.md
  langs/README_TR.md
  langs/README_UK.md
Labels: Documentation

#390 Rename langs to docs
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  README.md
  docs/README_AR.md
  docs/README_ES.md
  docs/README_FA.md
  docs/README_FIL.md
  docs/README_FR.md
  docs/README_IT.md
  docs/README_JA.md
  docs/README_RU.md
  docs/README_TR.md
  docs/README_UK.md
Labels: docs, github

#394 Run pre-commit
  docs/README_KR.md
Labels: Documentation, docs, Code style

#395 Add Makefile entry in `.editorconfig`
  .editorconfig
Labels: Code style

#396 docs: replace HTML with Markdown
  README.md
  docs/README_AR.md
  docs/README_ES.md
  docs/README_FA.md
  docs/README_FIL.md
  docs/README_FR.md
  docs/README_IT.md
  docs/README_JA.md
  docs/README_KR.md
  docs/README_RU.md
  docs/README_TR.md
  docs/README_UK.md
Labels: docs, Code style

#397 Enable markdownlint rule MD010
  .github/linters/.markdown-lint.yml
Labels: Tests

#398 Update labeler.yml
  .github/labeler.yml
Labels: Bug, github

#399 pre-commit autoupdate, fix spelling, use lowercase doctype
  .pre-commit-config.yaml
  src/ast/ast.h
  tmp/c-new/docs/index.html
Labels: Tests, src, Code style
