Repository One-Language/One, pull requests merged in 2023-07, with the labels that each got.

#478 Added markdown-link-check to pre-commit #463
  .pre-commit-config.yaml
  CONTRIBUTORS.md
  mlc_config.json
Labels: documentation, tests

#479 pre-commit: put `repo: local` hooks at bottom
  .pre-commit-config.yaml
Labels: tests

#480 Fix/standardize the CONTRIBUTORS page
  CONTRIBUTORS.md
Labels: documentation

#482 Update CONTRIBUTORS.md
  CONTRIBUTORS.md
Labels: documentation

#483 Fix wiki links in READMEs
  README.md
  docs/README_AR.md
  docs/README_ES.md
  docs/README_FA.md
  docs/README_FIL.md
  docs/README_FR.md
  docs/README_IT.md
  docs/README_JA.md
  docs/README_KR.md
  docs/README_RU.md
  docs/README_TR.md
  docs/README_UK.md
Labels: documentation
