Repository One-Language/One, pull requests merged in 2023-10, with the labels that each got.

#493 Docs: Changed the Getting started link to point to document site
  README.md
Labels: documentation

#494 Review contributing.md
  CONTRIBUTING.md
Labels: documentation

#496 pre-commit autoupdate; fix spelling
  .pre-commit-config.yaml
  tmp/c-old/src/buffer/sds.c
  tmp/c/src/sds.c
Labels: tests, tmp

#497 Add first interaction action
  .github/workflows/first-interaction.yml
Labels: Enhancement, Good First Issue, github
